@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "IBM Plex Sans", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Space Grotesk", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

select option {
  background-color: #0b1320;
  color: #ffffff;
}
